DJANGO_SECRET_KEY=
DJANGO_DEBUG=0
DJANGO_ALLOWED_HOSTS=your-domain.com
POSTGRES_HOST=db
POSTGRES_DB=k8s_manager
POSTGRES_USER=postgres
POSTGRES_PASSWORD=
CELERY_BROKER_URL=redis://redis:6379/0
CORS_ALLOWED_ORIGINS=https://your-frontend-domain.com
TOKEN_ENCRYPTION_KEY=